.footer {
  padding: 32px 30px 30px;
  background: $bg-color;

  &_social {
    display: flex;
    justify-content: center;
  }

  &__container {
    position: relative;
    
  }

  &__main {
  }

  &__top {
    text-align: center;
  }

  &__top-adress {
    line-height: 19.5px;
    color: $main-color;
    margin-bottom: 10px;

    &::after {
      position: absolute;
      content: '';
      top: -30px;
      left: 0;
      width: 100%;
      height: 4px;
      background: $separator-color;
    }
  }

  &__top-map {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    letter-spacing: 1px;
    color: $regular-color;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 21px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__facebook {
    display: flex;
    justify-content: center;
    width: 38px;
    height: 38px;
    fill: $regular-color;
  }

  &__phone {
    color: $alt-color;
    text-align: center;
    line-height: 19.5px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }

  &__mail {
    color: $regular-color;
    text-align: center;
    line-height: 19.5px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }

  &__discription {
  }

  &__discription p{
    text-align: center;
    line-height: 19.5px;
    color: $text-color;
    white-space: nowrap;
    margin-top: 30px;
  }

}

