body {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.5;
}

.body{
  background: #fff;
}

.wrapper {
  background: $gradient-supersoft;
}

.hidden {
  position: absolute;
  z-index: -10;
  opacity: 0;
  width: 0;
  height: 0;
}

.container {
  // від 0 до 767пх включно
  padding: 0 30px;

  @media screen and (min-width: $breakpoint-md) {
    // від 768 до 1023 включно
    max-width: 708px;
    margin: 0 auto;
  }

  @media screen and (min-width: $breakpoint-lg) {
    // від 1024 до 1439 включно
    max-width: 964px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    // від 1440 до 1919 включно
    max-width: 1380px;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    // від 1920 до бускінечності
    max-width: 1660px;
  }
}

.dotted {
  width: 6px;
  height: 6px;
  display: none;
  border-radius: $radius-rounded;

  @media screen and (min-width: $breakpoint-md) {
    display: inline-block;
  }

  &--white {
    background: $basic-white;
  }
}
