.head {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: url("../images/symbol.svg") no-repeat center/auto 100%;
  &__header {
  }

  &__title {
    @include title;
    padding: 0 30px;
    @include flex-center;
    text-align: center;
  }

  &__link {
    width: 42px;
    height: 42px;
    margin: 30px auto;
    border-radius: $radius-rounded;
    border: 2px solid $basic-white;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 25%;
      left: 30%;
      width: 15px;
      height: 15px;
      transform: rotate(44deg);
      border-bottom: 2px solid $basic-white;
      border-right: 2px solid $basic-white;
    }
    &:hover{
      border-color: $accent-color2;
    }
    &:hover::before{
      border-color: $accent-color2;
    }
  }
}

.header {
  padding-bottom: 10px;
  @media screen and (min-width: $breakpoint-md) {
    padding: 50px 0 10px;
  }
  &__container {
    position: relative;
  }

  &__inner {
    background: rgba(245, 245, 250, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin: 0 -30px;

    @media screen and (min-width: $breakpoint-md) {
      margin: 0 0 30px;
      background: transparent;
      padding: 0;
      justify-content: flex-start;
      gap: 6px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      justify-content: flex-end;
      margin-bottom: 16px;
    }
  }

  &__langs {
    display: flex;
  }

  &__langs-item {
  }

  &__langs-link {
    color: $basic-white;
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
    display: block;
    padding: 6px 7px;
    border-radius: $radius-sm;
    &.active {
      background: $accent-color;
    }
  }

  &__address {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      color: $text-color;
    }
  }

  &__phone {
    color: $basic-white;
    font-weight: 700;
    text-decoration: none;
  }

  &__social {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      color: $basic-white;
      height: 24px;

      svg{
        width: 24px;
        height: 24px;
        fill: white;
        transition: 0.3s;
      }
      
      &:hover svg {
        fill: $accent-color2;
      }
      
    }
  }

  


  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 10px;

    @media screen and (min-width: $breakpoint-lg) {
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
    }
  }

  &__box-logo {
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-bottom: 0;
    }
    img {
      width: 69px;
      height: 32px;
      @media screen and (min-width: $breakpoint-md) {
        width: 130px;
        height: 60px;
      }
    }
  }

  &__box-burger {
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }

    &::before,
    &::after,
    span {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $basic-white;
    }

    &::after {
      top: auto;
      bottom: 0;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
    }

    
  }

  &__nav {
    position: fixed;
    border-radius: $radius-md $radius-md 0 0;
    z-index: 10;
    bottom: 0;
    left: 8px;
    right: 8px;
    padding: 12px;
    background: $basic-white;
    transform: translateY(101%);
    transition: transform 0.2s linear;
    &.active {
      transform: translateY(0);
    }

    @media screen and (min-width: $breakpoint-md) {
      position: static;
      background: transparent;
      padding: 0;
      transform: translateY(0);
    }
  }

  &__nav-close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-bottom: 20px;
    margin-left: auto;
    position: relative;

    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: red;
      top: auto;
      bottom: 50%;
    }

    &::before{
      transform: rotate(45deg);
    }

    &::after{
      transform: rotate(135deg);
    }
  }

  &__nav-list {
    display: flex;
    flex-flow: column;
    gap: 15px;
    color: $regular-color;
    @media screen and (min-width: $breakpoint-md) {
      color: $basic-white;
      flex-flow: row;
    }

    @media screen and (min-width: $breakpoint-lg) {
      justify-content: flex-end;
    }
  }

  &__nav-item {
    text-align: center;
  }

  &__nav-link {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    border-radius: 12px;
    padding: 10px;
    background: $bg-color;
    display: block;
    font-size: 16px;
    &.active{
      color: $accent-color2;
    }

    @media screen and (min-width: $breakpoint-md) {
      padding: 0;
      background: transparent;
    }
  }
}
