.hero {
  position: relative;
  padding: 0 0 60px;



  &__top {
    font-weight: 700;
  }

  &__link{
    @include super_link;
  }

  &__top p{
    font-size: 30px;
    line-height: 36px;
    @include main-gradient-text;
  }

  &__list {
    margin-top: 30px;
  }

  // .hero__article

  &__article {
    display: flex;
    flex-direction: column;
    gap: 30px;

  }

  // .hero__icons

  &__icons {
  }

  
  // ВИПРАВИТЬ ШИРИНУ В ПІКСЕЛЯХ ПОТІМ

  &__icon {
    width: 92px;
  }

  // .hero__img

  &__img {
  }

  &_discriprion {
    margin-top: 30px;
    color: $regular-color;
    font-weight: 700;
    font-size: 22px;
  }

  &_discriprion p{
    margin-top: 15px;
    color: $basic-white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  
}

.hero::after{
  position: absolute;
  content: '';
  border-radius: 0 0 12px 12px;
  top: 100%;
  left: 20px;
  width: calc(100% - 40px);
  height: 10px;
  background: #CACADB;
}

.hero::before{
  position: absolute;
  content: '';
  border-radius: 0 0 12px 12px;
  bottom: -20px;
  left: 40px;
  width: calc(100% - 80px);
  height: 10px;
  background: #E7E7F2;
}

