// !MIXINS

@mixin main-gradient-text($bg-color: $gradient-red-text) {
  background: $bg-color;
  color: transparent;
  background-clip: text;
}

@mixin title($color: $basic-white) {
  font-size: 38px;
  font-weight: 700;
  color: $color;
}

@mixin subtitle($color: #000) {
  font-weight: 700;
  font-size: 30px;
  color: $color;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 38px;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin base-link($color: $regular-color, $hover: $accent-color) {
  color: $color;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: $hover;
  }

  &:hover::before {
    border-color: $accent-color;
  }
}

@mixin super_link{
  font-size: 14px;
  color: $regular-color;
  text-decoration: none;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;

  &::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 100%;
    width: 7px;
    height: 7px;
    border-top: 2px solid $regular-color;
    border-right: 2px solid $regular-color;
    rotate: 45deg;
  }

}
