.partner {
  padding: 60px 0 0;

  @media screen and (min-width: $breakpoint-xxl) {
    padding: 60px 100px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__paragraph{
    margin-bottom: 30px;
  }
  
  &__paragraph h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 17px;
    color: $main-color;
    text-align: center;
  }
  
  &__log {
    display: flex;
    flex-direction: column;
    @media screen and (min-width:$breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width:$breakpoint-xxl) {
      border-radius: 12px;
      overflow: hidden;
    }
  }

  &__log img:nth-last-child(-n + 6){
      display: none;
    
    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }
  } 
  
  
  &__log img{
    width: 100%;  
    object-fit: cover;
    @media screen and (min-width: $breakpoint-md){
      width: 33.3333%;
      flex: 1 1;
    } 

    @media screen and (min-width: $breakpoint-lg) {
      width: 25%;
      flex: 1 0 25%;
    }
  }




}

