.publications {
  padding: 30px 30px;
  background: $bg-color;

  &__container {
  }

  &__header {
  }
  &__inner-bread{
    @include super_link
  }

  &__inner-title {
    @include subtitle;
    @include main-gradient-text;
    line-height: 36.57px;
    margin: 0 0 30px;

    @media screen and (min-width: $breakpoint-md) {
      margin: 10px 0 30px;
      
    }
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 8px 8px 0 0;

    @media screen and (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      
    }
  }

  &__article {
    border-radius: 8px;
    background: $basic-white;

    @media screen and (min-width: $breakpoint-md) {
      flex: 1 1 47%;
    }

    @media screen and (min-width: $breakpoint-lg) {
      flex: 1 1 30%;
    }
  }

  &__article img{
    width: 100%;
    object-fit: cover;
  }

  &__discriotion {
    padding: 30px;
    font-weight: 700;
  }

  &__discriotion h4{
    line-height: 16.5px;
    color: $regular-color;
    margin-bottom: 15px;
  }

  &__firstp{
    font-size: 12px;
    letter-spacing: 1px;
    color: $text-color;
    line-height: 14.63px;
    position: relative; 

    &::after {
      position: absolute;
      content: '';
      bottom: -15px;
      left: 0;
      width: 100%;
      height: 4px;
      background: $separator-color;
    }
  }

  &_secondp{
    font-weight: 400;
    font-size: 14px;
    color: black;
    line-height: 22px;
    margin-top: 34px;
  }
}




