.tabs {
  padding: 30px 0;
  overflow-x: hidden;
  &__container {
    @media screen and (min-width: $breakpoint-lg) {
      display: flex;
      align-items: center;
    }
  }

  &__links {
    display: flex;
    gap: 30px;
    padding-bottom: 15px;
    overflow: auto;
    margin-right: -30px;
    padding-right: 30px;
    line-height: 1;
    

    @media screen and (min-width: $breakpoint-md) {
      margin-right: calc(-50vw + 324px);
    }

    @media screen and (min-width: $breakpoint-lg) {
      margin-right: 0;
      padding: 0;
      flex-flow: column;
      overflow: visible;
      flex: 1 1 50%;
      border-right: 4px solid $text-color;
      padding-right: 56px;
      text-align: right;
    }

    @media screen and (min-width: $breakpoint-xl) {
      flex: 1 1 35%;
    }
    @media screen and (min-width: $breakpoint-xxl) {
      flex: 1 1 20%;
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }


  &__links-item {
    @include subtitle($text-color);
    white-space: nowrap;
    display: block;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      color: $accent-color2;
    }

    &.active {
      @include main-gradient-text;
    }

  
  }

  &__contents {
    color: $basic-white;
    padding-top: 30px;
    border-top: 4px solid $text-color;

    @media screen and (min-width: $breakpoint-md) {
      padding-top: 60px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      border-top: 0px;
      flex: 1 1 50%;
      padding-left: 60px;
      padding-top: 0;
    }
  }

  &__contents-item {
    display: none;

    &.active {
      display: block;
    }
  }

  &__contents-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__contents-h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
  }

  &__contents-paragrahp{
    font-size: 19px;
    line-height: 30px;
  }
}



