// !vars
$main-color: #323264;
$alt-color: #46466e;
$soft-color: #686887;
$accent-color: #8d074e;
$accent-color2: #f0145a;
// $accent-color: #6B0E6C;
$regular-color: #24a3ff;
$hover-coolor: #0085ff;
$active-color: #006ccf;
$bg-color: #f5f5fa;
$bg-alt-color: #ededf7;
$text-color: #b3b3ba;
$basic-white: #ffffff;
$separator-color: #e6e6f0;
$gradient: linear-gradient(130deg, #323264, #323264 70%, #a54b5f);
$gradient-soft: linear-gradient(42deg, #323264 15%, #323264 50%, #7a425e 88%);
$gradient-red: linear-gradient(325deg, #f0145a 5%, #693264 70%);
$gradient-supersoft: linear-gradient(
  230deg,
  #323264 10%,
  #323264 60%,
  #643e72 90%
);
$gradient-red-text: linear-gradient(90deg, #f0145a, #ef8080);

$radius-sm: 8px;
$radius-md: 12px;
$radius-rounded: 50%;

// !breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;
